@media screen and (max-width: 576px) {

        /* ----------Estilos globales---------- */
    .layout {
        display: block;
        
    }
    
        /* Header */
    header {
        grid-area: none;
        width: 100%;
        background-color: #132043;
        display: block;
        align-items: center;
        overflow: hidden;
    }

        /* ----------Aside---------- */
    aside {
        min-height: 10vh;
    }

    .profile-info,
    .profile-info-stats {
        display: none;
    }

        /* ----------Section---------- */
    article div {
        justify-content: center;
    }

    article .post-user div h4 {
        margin: 0px 0px 10px 25px;
    }

    article .post-user div img {
        width: 100%;
    }

        /* ----------config---------- */
    .config-form {
        width: 90%;
    }

    .config-form .config-form-container {
        flex-direction: column;
    }
    
}